<div class="container">
	<h1 style="text-align: center;">Cadastro de Cidades</h1>
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">CEP</th>
				<th scope="col">Nome</th>
				<th scope="col">Estado</th>
				<th scope="col">Ddd</th>
				<th scope="col">Populacao</th>
				<th scope="col">Opções</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cidade of cidades">
				<th scope="row">{{cidade.id}}</th>
				<td>{{cidade.cep}}</td>
				<td><a [routerLink]="['/cidade',cidade.id]">{{cidade.nome}}</a></td>
				<td>{{cidade.estado}}</td>
				<td>{{cidade.ddd}}</td>
				<td>{{cidade.populacao}}</td>
				<td><button class="btn btn-danger"(click)="delete(cidade)">Remover</button></td>
			</tr>
		</tbody>
	</table>

</div>
